@font-face {
  font-family: "Kawkab Mono Light";
  src: url("/font/KawkabMono-Light.woff2") format("woff2"),
        url("/font/KawkabMono-Light.woff") format("woff");
}

#curtain {
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 3;
  opacity: 1;
}

#curtain.invisible {
  opacity: 0;
  transition: 1s;
}

#introduction {
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 2;
  opacity: 0.8;
}

#introduction.invisible {
  opacity: 0;
  transition: 1s;
}

#introduction b {
  top: 14px;
  left: 120px;
  display: block;
  position: fixed;
  font-family: "Kawkab Mono Light";
  font-size: 0.75em;
}

@media only screen and (max-width: 600px) {
  #introduction b {
    top: 10px;
  }  
}
  
#debug {
  position: fixed;
  top: 0;
  left: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
  padding: 50px;
}

iframe {
  flex-grow: 1;
  width: 100%;
  height: 100%;
/*   padding: 100px; */
}

#buttons {
  position: absolute;
  top: 5px;
  left: 50px;
  font-size: 25px;
}

#buttons i {
  display:inline-block;
  margin-right: 1em;
  font-size: 0.75em;
}

#buttons i {
  color: #aaa;
  transition: 1s;
}


#buttons i:hover {
  transition: 1s;
  color: #333;
  cursor: pointer;
}

#about {
  position: fixed;
  width: calc(100% - 300px);
  height: calc(100% - 300px);
  background: white;
  display: flex;
  font-family: "Kawkab Mono Light";
  font-size: 0.75em;
  overflow: auto;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  #about {
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    flex-direction: column;  
    align-items: center;
  }

  #about h1 {
    font-size: 1.5em;
  }
}

#about.invisible {
  transition: 1s;
  opacity: 0;
}

#about.absent {
  display: none;
}

#about.visible {
  transition: 1s;
  opacity: 0.9;
}

#about.present {
  display: auto;
}


#about h1,
#about h2 {
  font-weight: 100;
}

#about div.en,
#about div.ar {
  width: 80%;
  height: auto;
  margin: 0 25px;
  clear: both;
}

#about div.en {
  text-align: left;
  direction: ltr;
}

#about div.ar {
  text-align: right;
  direction: rtl;
}